
body{
    background-color: #d4d2d5;
}

.container{
    max-width: 30vw;
    max-height: 50vh;
background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    margin:auto ;
    margin-top: 20vw;
    padding: 5vw;
    

}

.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#5a0884;
    width:40px;
    height: 40px;
    font-size:20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border:2px solid #3f3d40;
    
}

  .avatar:hover  {
    box-shadow: 2px 2px #8e8c8f;
    transform: scale(1.5);
    background-color: pink;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
} 

